.sidebar-container {
  width: 20vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto; /*set manually value at last*/
  padding-left: 30px;
}
.sidebar-mobile-container {
  display: none;
}

.sidebar-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}

.sidebar-logo {
  height: 25px;
  width: 25px;
  padding: 5px;
}

.sidebar-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
}

.sidebar-top-page-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  padding: 5px 5px 5px 7px;
}

.sidebar-top-page-icons {
  height: 20px;
  width: 20px;
  /* padding: 5px; */
  color: rgb(95, 105, 128);
}

.sidebar-top-page-dashboard-icons {
  height: 20px;
  width: 20px;
  /* padding: 5px; */
  color: rgb(32, 70, 157);
}
.sidebar-top-page-icons-title {
  /* padding: 5px 5px 5px 7px; */
  color: rgb(95, 105, 128);
  padding-left: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.sidebar-top-menu-title {
  color: rgb(95, 105, 128);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 5px 5px 5px 7px;
  margin-top: 20px;
}

.sidebar-top-menu-details-container {
  margin-top: 20px;
}

.sidebar-top-page-details-dashboard-container {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  padding-left: 10px;
  border-radius: 9.43px;
  border: 1px solid #f2f4f7;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 15vw;
  background-color: white;
}

.sidebar-bottom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-bottom-profile-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .sidebar-container {
    display: none;
  }
  .sidebar-mobile-container {
    display: flex;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100vw;
    background-color: white;
    justify-content: start;
    align-items: start;
    padding-left: 10vw;
    box-sizing: border-box;
  }
  .sidebar-top-page-details-dashboard-container {
    width: 25vw;
  }

  .sidebar-top-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
  }

  .sidebar-close-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 40px;
  }
}
@media screen and (max-width: 450px) {
  .sidebar-top-page-details-dashboard-container {
    width: 50vw;
  }
}
